

  <div class="title">簡単アンケート</div>
  <div class="post" ><%= link_to 'アンケートを作る',  class: "make-up" %></div>
  <div class="mess">
	  <div class="message">難しいことは必要なし！<br />さぁ作って、答えましょう！</div>
  </div>

  <div class="contents row">
    <% @ankeetoes.each do |ankeeto| %>
      <div class="content_post" style="background-image: url(<%= ankeeto.image %>);">
        <p><%= ankeeto.text %></p>
        <span class="name">
          <%= ankeeto.name %>
        </span>
      </div>
    <% end %>
  </div>


